@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
	font-family: 'Press Start 2P', cursive;
}

#app,
#start,
#gameWrapper {
	min-height: 100vh;
	max-width: 100%;
}

.hide {
	display: none !important;
}

#start {
	background-color: black;
	display: grid;
	place-content: center;
}

#usernameForm {
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

#gameWrapper {
	background-color: white;
}

#scoreColumn {
	min-height: 20vh;
}

#gameArea {
	background-color: black;
	min-height: 75vh;
	display: grid;
	/*place-content: center;*/
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

#virus {
	max-width: 6rem;
	z-index: 99;
}

h3 {
	font-size: 1.25rem;
}

#scoreboard p {
	font-size: 2rem;
}


	
	.div1 { grid-area: 1 / 1 / 2 / 2; }
	.div2 { grid-area: 1 / 2 / 2 / 3; }
	.div3 { grid-area: 1 / 3 / 2 / 4; }
	.div4 { grid-area: 2 / 1 / 3 / 2; }
	.div5 { grid-area: 2 / 2 / 3 / 3; }
	.div6 { grid-area: 2 / 3 / 3 / 4; }
	.div7 { grid-area: 3 / 1 / 4 / 2; }
	.div8 { grid-area: 3 / 2 / 4 / 3; }
	.div9 { grid-area: 3 / 3 / 4 / 4; }