@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
	font-family: 'Press Start 2P', cursive;
}

#app,
#start,
#gameWrapper {
	min-height: 100vh;
	max-width: 100%;
}

/* .hide {
	display: none !important;
} */

#start {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	background-color: black;
}

#username-form {
	margin: 0 auto;
	text-align: center;
}

#gameWrapper {
	background-color: white;
}

#scoreColumn {
	min-height: 20vh;
}

#gameArea {
	background-color: black;
	min-height: 80vh;
	display: grid;
	place-content: center;
}

#virus {
	max-width: 6rem;
	z-index: 99;
}

h3 {
	font-size: 1.25rem;
}

#scoreboard p {
	font-size: 2rem;
}
